<html>
<head>
    <!-- Your head content goes here -->
</head>
<body>
    <%- include ('partials/navbar') %>
    <p>Welcome to Game <%= gameId %>, <%= user.username %>!</p>
    <!-- Your game content goes here -->
</body>
</html>
