<html>
    <head>
        <script src="/scripts/bundle.js"></script>
    </head>
    <body>
        <%- include ('partials/navbar') %>
        <p>Lobby</p>
        <p>Welcome, <%= user.username %>!</p>
    </body>
</html>