<html>
    <head>
        <style>
            body {
                font-family: 'Arial', sans-serif;
                background-color: #f0f0f0;
                margin: 0;
                padding: 0;
            }

            p {
                margin: 10px;
            }

            form {
                margin: 10px;
            }

            button {
                padding: 10px;
                font-size: 16px;
                background-color: #4caf50;
                color: white;
                border: none;
                cursor: pointer;
            }

            button:hover {
                background-color: #45a049;
            }

            #game-list {
                list-style-type: none;
                padding: 0;
            }

            li {
                background-color: #fff;
                margin: 5px;
                padding: 10px;
                border-radius: 5px;
            }

        </style>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/scripts/bundle.js"></script>
    </head>
    <body>
        <%- include ('partials/navbar') %>
        <p>Lobby</p>
        <p>Welcome, <%= user.username %>!</p>

        <form action="/game/createGame" method="post">
            <button type="submit">Create a Game</button>
        </form>
        <div>
            <h2>Global Chat</h2>
            <div id="message-cpontainer"></div>
            <form id="send-container">
                <input type="text" id="message-input" placeholder="Type your message..." />
                <button type="submit" id="send-button">Send</button>
            </form>
        </div>

        <ul id="game-list">
           <!-- Displaying the current list of games in the lobby -->
            <% games.forEach(function(game) { %>
                <li>Game <%= game.gameid %>: <%= game.status %></li>
              <% }); %>
        </ul>

        <script>
    const socket = io();
    const messageContainer = document.getElementById('message-container')
    const messageForm = document.getElementById('send-container')
    const messageInput = document.getElementById('message-input')

    const name = prompt('What is your name?')
    appendMessage('You joined')
    socket.emit('new-user', name)
    socket.on('chat-message', data => {
        appendMessage(`${data.name}: ${data.message}`)
    })
    socket.on('user-connected', data => {
        appendMessage(`${name} connected`)
    })
    socket.on('user-disconnected', data => {
        appendMessage(`${name} disconnected`)
    })

    messageForm.addEventListener('submit', e => {
        e.preventDefault()
        const message = messageInput.value
        appendMessage(`You: ${message}`)
        socket.emit('send-chat-message', message)
        messageInput.value = ''
    })

    function appendMessage(message) {
        const messageElement = document.createElement('div')
        messageElement.innerText = message
        messageContainer.append(messageElement)
    }
    socket.on('new-game', function (game) {
        // When a user creates a new game, add it to the current list of games
        const ul = document.getElementById('game-list');
        const li = document.createElement('li');
        li.appendChild(document.createTextNode(`Game ${game.gameid}: ${game.status}`));
        ul.appendChild(li);
    });
        </script>
    </body>
</html>