<html>
    <head>
        <script src="/scripts/bundle.js"></script>
    </head>
    <body>
        <%- include ('partials/navbar') %>
        <p>Login</p>

        <!-- Login Form -->
        <form action="/login/login" method="post">
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="password">Password:</label><br>
            <input type="text" id="password" name="password">
            <input type="submit" value="Submit">
        </form>

    </body>
</html>